.a{
  text-align : "center";
 color : red;
}

.bleu{
  border:1px dotted black;
}

body{
  font-size:1em
  
  
}

.toto{
  font-size:18pt
}

  body{
    margin-top: 10%; margin-left: 30%; margin-right: 30%;
  }

#thierno75{

  background-color: brown;

  border:2px solid black;
border-radius:7px;

}

.nono:hover {

  color:red;
text-decoration:none;
background-image:url(images/gris_anim.gif);
background-repeat:no-repeat;



}
.nono{
  color:white;
}
  .az{
    text-decoration:none;
    background-image:url(41.jpg);
    background-repeat:no-repeat;
    width: 320px;
  height: 240px;
    
}

.az:hover{
  width: 500px;
height: 300px;
  
  }

.formulaire{
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}
