<html lang="fr">
    <meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="tableau.css" rel="stylesheet" type="text/css">

    <div id="app">
        <input v-model="idc" class="form-control" placeholder="Entrer votre numero de chambre"/>
        <br>
        <button v-on:click="ajax(idc)" class="btn btn-primary">Valider</button>
        <br>
    <p>Numéro de chambre : {{ idc }}</p>
    <br>
    

<div id="app">
    <template>
        <div class="table-responsive">
            <table class="table table-bordered" v-if="info">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Couchage</th>
                        <th scope="col">porte</th>
                        <th scope="col">etage</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">baignoire</th>
                        <th scope="col">prixBase</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in info">
                        <td>{{ item.id }}</td>
                        <td>{{ item.nbCouchage }}</td>
                        <td>{{ item.porte }}</td>
                        <td>{{ item.etage }}</td>
                        <td>{{ item.idCategorie }}</td>
                        <td>{{ item.baignoire }}</td>
                        <td>{{ item.prixBase }}</td>
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </template>
    </div>
    <script>

var app =new Vue({
          el: '#app',
          data () {
            return {
              info: null,
              idc: 0,
              message:''    
            }
          },
          methods: {
            ajax: function (idc, event) {
            axios({
              method: 'get',
              url: 'http://help.frebourg.es/api/index.php/chambre/'+idc,
              responseType: 'json',    
            })
               .then(async res => { 
                 if(res.status === 200) { 
                       alert('veuillez cliquer sur ok!');
                       this.info=res.data;                     
                  } else if(res.status === 400) { 
                      let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
               })  
            }
            }
        })


      
    /*    $(document).ready(function(){
            $(".btn").click(function(){
            //ID.destroy();
              let ID = $("#monID").val();
              
              new Vue({
                el: '#app',
                data () {
                    return {
                        info: null
                 }
                },

        jQuery("classNameofDiv").click(function() {
        let ID = jQuery(this).attr("monID");
            alert(contentPanelId);
        }); 
          mounted () {
            axios({
          method: 'get',
           // a changer
          url: "http://help.frebourg.es/api/index.php/chambre/" + ID,
          responseType: 'json',
         /* data: {
            firstName: 'Fred',
            lastName: 'Flintstone'
          }
        })
           .then(async res => { 
             if(res.status === 200) { 
                    //location.reload(true);
                   alert('Ok!');
                  // a changer pour obtneir le tableau de data
                   this.info=res.data;
              } else if(res.status === 400) { 
                  let errorResponse = await res.json(); this.errors.push(errorResponse.error); }
           });
      }
    });
            });
        }); */
    </script>



</html>