<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div id="app">
  <button v-on:click="ajax(idc)">Confirmer</button>
  <input v-model="idc" placeholder="numéro de chambre" />
  <p>Le message est : {{ idc }}</p>
  <template>
    <div class="table-responsive">
      <table class="table table-bordered" v-if="info">
        <thead>
          <tr>
            <th>id</th>
            <th>nbCouchage</th>
            <th>porte</th>
            <th>etage</th>
            <th>idCategorie</th>
            <th>baignoire</th>
            <th>prixBase</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in info">
            <td>{{ item.id }}</td>
            <td>{{ item.nbCouchage }}</td>
            <td>{{ item.porte }}</td>
            <td>{{ item.etage }}</td>
            <td>{{ item.idCategorie }}</td>
            <td>{{ item.baignoire }}</td>
            <td>{{ item.prixBase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </template>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        info: null,
        idc: 0,
        message: ''
      }
    },
    methods: {
      ajax: function (idc, event) {
        axios({
          method: 'get',
          url: 'http://localhost:8888/Finder/slim/server/index.php/chambre/' + idc,
          responseType: 'json',
        })
          .then(async res => {
            if (res.status === 200) {
              alert('Ok!');
              this.info = res.data;
            } else if (res.status === 400) {
              let errorResponse = await res.json(); this.errors.push(errorResponse.error);
            }
          })
      }
    }
  })
</script>