<!doctype html>
<html lang="fr">
<head>
  <link   type="text/css"    rel="stylesheet"    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"  />
  <link   type="text/css"    rel="stylesheet"    href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"  />
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<div id="app">
    <b-container>
        <b-btn variant="primary" v-on:click="ajax()">Vérification</b-btn>
        <p>Le message est : {{ info }}</p>
    </b-container>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                info: null,
                message: ''

            }
        },
        methods: {
            ajax: function ( event) {
                axios({
                    method: 'get',
                    url: 'http://localhost/Finders/Slim/index.php/bonjour',
                    responseType: 'text',
                })
                    .then(async res => {
                        if (res.status === 200) {
                            alert('Ok!');
                            this.info = res.data;
                        } else if (res.status === 400) {
                            let errorResponse = await res.json(); this.errors.push(errorResponse.error);
                        }
                    })
            }
        }
    })
</script>
</html>